<?php

/* 
 * Copyright (C) 2014 StudentBox
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Local Configuration
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in this application. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    /**
     * S3-Backup Einstellungen
     */
    's3backup' => array(
        /**
         * AWS Access Key ID
         */
        'key' => '',
        /**
         * AWS Secret Access Key
         */
        'secret' => '',
        /**
         * Regional Endpoint des Amazon S3 Services
         */
        'region' => '',
        /**
         * Name des Backup-Buckets
         */
        'bucketname' => '',
        /**
         * Array mit Order-Pfaden für das Backup
         */
        'folders' => array(
            '',
        ),
    ),
    /**
     * Datenbank Einstellungen
     */
    'database' => array(),
);